{% extends 'base.html' %}

{% block title %}
	Ana Səhifə
{% endblock %}

{% block content %}
	<main>
        <div class="card">
            <h1>Knowledge Hub</h1>

        <p>
            Knowledge Hub layihəsinə xoş gəlmisiniz.
        </p>

        <p>
            Qeydlərinizi bir yerdə saxlayın və rahat şəkildə idarə edin.
        </p>

        <a
            class="button"
            href=""
        >
            Qeydlər siyahısına keç →
        </a>
        </div>
    </main>
{% endblock %}



{% comment %}
    {% if %} / {% else %} / {% endif %}
    {% for %}{% endfor %}
    {% include %}
    {% url %}
    {% with %}
    {% empty %}
{% endcomment %}
